 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 401px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 328px;
  margin: -388px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px 20px 0;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  line-height: 1.2;
  font-size: 3.75rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 819px;
  height: 514px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 312px;
  width: 483px;
  background-image: none;
  margin: -189px 73px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -243px auto 60px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 494px;
    height: 397px;
  }

  .u-section-1 .u-group-1 {
    width: 446px;
    margin-top: -384px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-group-2 {
    min-height: 337px;
    width: 440px;
    margin-right: 31px;
  }

  .u-section-1 .u-shape-1 {
    width: 206px;
    height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1662px;
  }

  .u-section-1 .u-image-1 {
    width: 546px;
    height: 421px;
    margin-top: 76px;
  }

  .u-section-1 .u-group-1 {
    width: 544px;
    min-height: 280px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 452px;
    margin-top: 8px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 373px;
    width: 436px;
    margin-top: -48px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -428px;
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1541px;
  }

  .u-section-1 .u-image-1 {
    width: 499px;
    height: 415px;
    margin-top: 60px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 339px;
  }

  .u-section-1 .u-group-2 {
    width: 323px;
  }

  .u-section-1 .u-shape-1 {
    width: 152px;
    height: 152px;
    margin-top: -407px;
    margin-bottom: 315px;
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-1 .u-image-1 {
    height: 266px;
    width: 320px;
  }

  .u-section-1 .u-group-1 {
    min-height: 201px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 213px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 150px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-1 {
    margin: -572px 0 480px auto;
  }
}